{#
/**
 * @file
 * Default theme implementation for webform submission as HTML.
 *
 * Available variables:
 * - html: The webform submission's data as HTML.
 *
 * @see template_preprocess_webform_submission_html()
 *
 * @ingroup themeable
 */
#}
<button id="create_pdf">{% trans %}Create PDF{% endtrans %}</button>
<div id="submission_output">
    {{ html }}
</div>
